body {
  margin: 0px;
}

.header {
  width: 100%;
  height: 100px;
  padding: 0px;
  background-color: blueviolet;
  text-align: center;
}

h1 {
  margin: 0px;
  padding-top: 25px;
  color: white;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: green;
  text-align: center;
  position: absolute;
  bottom: 0px;
}

.track {
  background-color: brown;
  width: 100%;
  height: 600px;
}

.doggo {
  width: 100px;
  height: 100px;
  display: inline-block;
}

p {
  height: 113px;
  width: 10px;
}